---
layout: default
---

<!-- Weird bug – liquid removing first line of code, fixed with this comment -->

<div class="container">
    
    {{ content }}
    
    
    <div role="tabpanel">
        
        <!-- Nav tabs -->
        <ul class="nav nav-pills visible-xs visible-sm nav-dashboard" role="tablist">
            <li role="presentation" class="active"><a href="#all-requests" aria-controls="home" role="tab" data-toggle="pill">All requests</a></li>
            <li role="presentation"><a href="#my-requests"role="tab" data-toggle="pill">My requests</a></li>
            <li role="presentation"><a href="#my-offers" role="tab" data-toggle="pill">My offers</a></li>
        </ul>
        
        <div class="row">
            
            <!-- Tab panes -->
            <div class="tab-content">
            
                <div role="tabpanel" class="tab-pane fade active" id="all-requests">
                    <div class="col-md-4">
                    
                        <h2 class="h4 visible-md visible-lg">All requests</h2>

                        <ul class="list-group media-list">
                            {% for post in site.posts %}
                            <li class="list-group-item">

                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="{{ page.title }}">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">{{ post.title }} <span class="small">{{ post.action }}</span></h5>
                                        <p>{{ post.description }} <br> <span class="label label-success">{{post.credits}} credits</span></p>
                                    </div>
                                    <div class="media-right">
                                        <button class="btn btn-sm btn-primary pull-right">I'll do it</button>
                                    </div>
                                </div>
                                
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
               </div> <!-- .tab-pane -->

                <div role="tabpanel" class="tab-pane" id="my-requests">
                    <div class="col-md-4">

                        <h2 class="h4 visible-md visible-lg">My requests</h2>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in</p>
                            </li>
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in</p>
                            </li>
                        </ul>

                    </div>
                </div> <!-- .tab-pane -->

                <div role="tabpanel" class="tab-pane" id="my-offers">  
                    <div class="col-md-4">

                        <h2 class="h4 visible-md visible-lg">My offers</h2>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in</p>
                            </li>
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Dapibus ac facilisis in</p>
                            </li>
                        </ul>

                    </div>
               </div> <!-- .tab-pane -->

            </div>
        </div>

    </div> <!-- tabpanel -->

</div>
