---
layout: default
---

<!-- Weird bug – liquid removing first line of code, fixed with this comment -->

<div class="container">
    
    {{ content }}
    
    <div class="row">
      
        <div class="col-md-6">
            <h2 class="h4">All requests</h2>
        </div>
      
        <div class="col-md-3">
            <h2 class="h4">My requests</h2>
        </div>
        
        <div class="col-md-3">
            <h2 class="h4">My offers</h2>
        </div>
        
    </div>
        
</div>
