<li class="list-group-item">

    <div class="media">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/50x50" alt="{{ page.title }}">
        </div>
        <div class="media-body">
            <h5 class="media-heading">{{ post.title }} <span class="small">{{ post.action }}</span></h5>
            <p>{{ post.description }} <br> <span class="label label-success">{{post.credits}} credits</span></p>
        </div>
        <div class="media-right">
            <button class="btn btn-sm btn-primary pull-right">I'll do it</button>
        </div>
    </div>

</li>